<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header.ejs') %>

    <body>
        <div class="container">
            <h1><span style="color: red;">404</span> Opps, page not found</h1>
            <a href="/">Return to homepage</a>
            <%- include('./partials/footer.ejs')%>
        </div>
    </body>

</html>